#boutMe{
	clear: both;
	float: left;
	text-align: left;
	background-color: #ffffff;
	width: 580px;
	height:400px;
	margin: 130px 0px 100px 150px;
	padding: 8px 20px 10px 20px;
	border: 0px;

}

#dline{
	width: 550px;
	margin: 0 auto;
	height: 3px;
	background-color: #cccccc;
	margin-bottom: 15px;
	margin-right: 0px;
}

#pic1{
	float: left;
	height: 110px;
	width: 130px;
}

h1{
	color: #4aaaa5;
}

h2{
	font-size: 17px;
	font-style: bold;
}

#connect{
	color: #4aaaa5;
	float: left;
	width: 140px;
	height: 150px;
	background-color: #fff;
	margin: 130px 0px 0px 25px;
	padding-left: 12px;
	padding-bottom: 2px;
}

#div2{
	clear: both;
	width: 70%;
	margin: 0px auto;
	height: 3px;
	background-color: #ccc;
}

#imgGit{
	float: left;
	height: 30px;
	width: 30px;
	margin-left: 20px;
	padding-top: 10px;
	border-radius: 15px;
}

#imgLinkd{
	float: left;
	height: 30px;
	width: 30px;
	padding-top: 10px;
	border-radius: 15px;
}

#imgStack{
	float: left;
	height: 30px;
	width: 30px;
	padding-top: 10px;
	border-radius: 15px;
}


/*#links {
	padding-top: 5px;
	padding-left: 20px;
}*/